.header {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 8%;
  background-color: rgb(104, 106, 253);
  text-align: center;
}

.headerTitle {
  position: relative;
  width: 50%;
  height: 80%;
  color: white;
  top: 10%;
}

.citySearch {
  position: relative;
  top: 20%;
  width: 20%;
  height: 49%;
  border-radius: 17px;
  border: 1px solid #cfcfcf;
  padding: 0px 16px;
}

.enterBtn {
  position: relative;
  top: 21%;
  margin-left: 10px;
  height: 50%;
}

